<ion-view style="" id="page6" title="Chat Details">

	<ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

		<div ng-repeat="message in messages"
           ng-class="{other: message.userId != myId}"
           class="messages">
		   
		   
		   	<div class="message" >
				<span >{{ message.text }}</span>
			</div>
			
			<!--
			<div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
				<span >{{ message.text }}</span>
			</div>

			
			<div class="time" ng-class="{'slide-right': hideTime,'' : !hideTime}">{{message.time}}</div>
			-->

		</div>

	</ion-content>

	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Type your message" on-return="showSendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<button class="button button-clear" ng-click="showSendMessage()">
        Send
		</button>
	</ion-footer-bar>

</ion-view>