<ion-view style="" id="page1" title="Tabs Controller">


	<ion-tabs class="tabs-icon-top tabs-color-active-positive">
        
		  <!-- Dashboard Tab -->
		  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline"  icon-on="ion-ios-chatboxes"  href="#/page1/page2">
			<ion-nav-view name="tab1"></ion-nav-view>
		  </ion-tab>
 
		  <!-- Chats Tab -->
		  <ion-tab title="Contacts" icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact -strong" href="#/page1/page3">
			<ion-nav-view name="tab2"></ion-nav-view>
		  </ion-tab>

		  <!-- Settings Tab -->
		  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/page1/page4">
			<ion-nav-view name="tab3"></ion-nav-view>
		  </ion-tab>
    
	</ion-tabs>
	
</ion-view>

